html {
  height:100%;
  width:100%;
}
body {
  width:100%;
  margin:0;
}
.signage-area {
  width:100%;
  height:100%;
  border: solid 1px black;
  display:flex;
  flex-flow: column;
}
img {
  /* https://webdesignday.jp/inspiration/technique/css/7976/ */
  display: block;
  height: 10%;
  object-fit: contain;
  /* width: 100%; */
}
.font-large {
  font-size: 3vw;
}
/* // #def092 : #1f0c6e */
.image-area {
  border: 1px solid deepskyblue;
  background-color: yellow;
  height:50vh;
  width: 100%;
}
.text-area {
  border: 1px solid yellow;
  background-color: deepskyblue;
  color: white;
  height:50vh;
  width: 100%;
}
p {
  font-weight:1000;
  font-size: xx-large;
}
/* p#vw {
  font-size: 5vw;
  font:900;
}
p#vh {
  font-size: 5vh;
  font:900;
} */
#linebotMessage {
  table-layout: fixed;
  word-wrap: break-word;
}

.marquee p {
  margin:0;
  padding-left:724px; /*アニメーションの範囲*/
  display:inline-block; 
  white-space:nowrap;
  animation-name:marquee; /*アニメーションのクラス名*/
  animation-timing-function:linear;/*アニメーションのタイミング・進行割合の指定*/
  animation-duration:10s; /*アニメーションの速度*/
  animation-iteration-count:infinite;/*アニメーションの動作回数*/
  }
  @keyframes marquee {/*動作範囲(上級者向けの設定)*/
    from   { transform: translate(0%);} 
    99%,to { transform: translate(-100%);}
  }