@charset "utf-8";
/* ============================== */
/* 全体の構造 */
/* ============================== */
main {
  width: 100%;
}
.main-area-container {
  display: flex;
}
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_title {
  width: 100%;
  text-align: center;
  font-size: 2em;
}
/* =========================== */
/* 注文詳細コンテナDIVの囲いをつける */
/* =========================== */
.order_container {
  /* width: 100%; */
  margin: auto;
  border: 1px solid gray;
  background-color: gainsboro;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* デザイン詳細コンテナ */
.order_design_container {
  height: 300px;
  width: 300px;
  /* border-radius: 5%; */
  margin: 20px;
  /* border: 1px solid white; */
}

#order_design_image {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin: 0;
  border: 1px solid white;
}

/* 注文詳細 */
.order_detail_container {
  height: 300px;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid white;

  flex: 1;
}

/* 注文詳細 */
.design_id, .yen_mark, .price {
  font-size: 24px;
}
input[type=radio] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.size-category {
  font-size: 24px;
}
.size-caption {
  font-size: 24px;
  height: 100px;
  text-align:center;
}