@charset "utf-8";


/* Tryon遷移画面のheaderの高さ */
.tryonheader {
  height: 500px;
}
/* アイコンを囲むエリア */
.area_talk {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* アイコンのList */
.messages {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* 画像とテキストを横並び */
.messages li {
  display: flex;
}
/* 
  ２つめ以降のメッセージをくっつけない
  隣接兄弟結合子
*/
.messages li + li {
  margin-top: 32px;
}
/* 左右の振り分け */
li.right_side {
  flex-direction: row-reverse;
  /* margin-left: 100px; */
}

.pic {
  /* background: pink; */
  width: 300px;
  text-align: center;

}
/* 画像のスタイル「アイコンキャラクター」 */
.pic img{
  /* 幅だけ指定 */
  width: 180px;
  /* 透過する */
  background-color: transparent;
  
}
/* 画像のスタイル「メッセージ」 */
.message_conatainer img {
  /* 幅だけ指定 */
  width: 700px;
  /* 透過する */
  background-color: transparent;
}
/* テキストのスタイル */
.text_conatainer {
  background-color: #fff;
  border-radius: 15px;
  padding: 16px 24px;
  /* 
  幅はこの範囲内にして、
  広がりすぎないようにする
   */
  max-width: 60%;
  min-width: 60%;
  line-height: 1.8;
  /* 相対位置 */
  position: relative;
  display:  table-cell;       /* テーブルセルにする */
  vertical-align:  middle;    /* 中央寄せ */
  opacity: 50%;               /* 半透明にしておく */

}
.fade_in_text_conatainer {
  animation: fadeIn;
  animation-duration: 1s; 
  animation-fill-mode: forwards;  /* 100%で停止させる */
}
@keyframes fadeIn { /*animetion-nameで設定した値を書く*/
  0% {
    /*アニメーション開始時は不透明度50%*/
    opacity: 50%
  }
  100% 
  {
    /*アニメーション終了時は不透明度100%*/
    opacity: 100%
  } 
}
/* 
 疑似要素で　三角をつける
 実際は、Borderでつける
*/
.text_conatainer::before {
  content: '';
  width: 0;
  height: 0;
  /* 枠線は透明 */
  border: 24px solid transparent;
  /* 絶対位置 */
  position: absolute;
}
/* 左のふきだし */
.left_side .text_conatainer::before {
  top: 12px;
  left: -45px;
  /* 左だけ枠線 */
  /* border-right-color:  #fff; */

}
/* 右のふきだし */
.right_side .text_conatainer::before {
  top: 12px;
  right: -45px;
  /* 左だけ枠線 */
  /* border-left-color:  #fff; */
}
.text_header {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  color:darkblue;
}
.text {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color:navy
}
/* 画像を非表示 */
.hidden_image {
  display: none;
}