@charset "utf-8";

html {
  height: 100%;             /* bodyで100%を使うから */
}
body {
  margin: 0;
  display: flex;            /* 縦幅いっぱいにするため */
  flex-direction: column;   /* 縦方向に並べる */
  height: 100%;             /* 高さを100％にする */
}
.container {
  display: flex;
  flex-wrap: nowrap;        /* はみ出し分を縮小で対応 */
  flex-grow: 1;
}
header {
  background: pink;
}
main {
  background: skyblue;
  flex-grow: 1;
}
nav {
  background: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
aside {
  background: orange;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer {
  background: silver;
}

/*  */
.avater-image {
  background-color: palegreen;
  flex-grow: 1;
}
.slider-item {
  height: 600px;
}
.swiper-slide{
  height: 100px;
  height: 200px;
  background: red;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}
.swiper-slide:nth-child(3n+1) {
  background: blue;
}
.swiper-slide:nth-child(3n+2) {
  background: green;
}