
*,
*::after,
*::before {
  /* box-sizing: border-box; */
}

.tag-container {
  display: flex;
  flex-direction: column;
}
/*------------------------------

ここからアコーディオンのCSS

------------------------------*/
/* チェックボックスは非表示 */
.accordion-hidden{
  display: none;
}

/* Question部分 */
.accordion-open {
  display: block;
  padding: 10px;
  /* background: #52a261; */
  margin: 5px 0;
  font-weight: 700;
  position: relative;/* 変更部分 */
}

/* 開閉状態を示すアイコン+の作成 */
.accordion-open::before,
.accordion-open::after {
  content: '';
  width: 20px;
  height: 3px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

/* 一本は縦にして+を作る */
.accordion-open::after {
  transform: translateY(-50%) rotate(90deg);
  transition: .3s;

}

/* アコーディオンが開いたら縦棒を横棒にして-にする */
.accordion-hidden:checked + .accordion-open:after {
  transform: translateY(-50%) rotate(0);
}

/* Answer部分 */
.accordion-close {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: 0.3s;/* 表示速度の設定 */
}

.accordion-open-none {
  display: block;
  padding: 10px;
  /* background: #52a261; */
  margin: 5px 0;
  font-weight: 700;
  position: relative;/* 変更部分 */
}
.accordion-open-none::before,
.accordion-open-none::after {
  /* content: ''; */
  width: 20px;
  height: 3px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 5%;
}

.accordion-close-none {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  /* 表示速度の設定 */
  /* transition: 0.3s; */
}

/* チェックボックスにチェックが入ったらAnswer部分を表示する */
.accordion-hidden:checked + .accordion-open + .accordion-close {
  height: auto;
  opacity: 1;
  padding: 3px;
  /* background: #55acee; */
  font-weight: 700;
}