@charset "utf-8";

/* =========================== */
/* DIVの囲いをつける */
/* =========================== */
.area-container {
  border: 1px solid gray;
  background-color: gainsboro;
  border-radius: 5px;
}
/* =========================== */
/* カメラエリア */
/* =========================== */
#area-capture {
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video_container {
  border:1px solid black;
  height: 1024px;
  width: 576px;
}
#video_container video {
  height: 1024px;
  width: 576px;
  transform: scaleX(-1);  /* 左右反転させる */
}
#canvas-photo {
  /* height: 1024px;
  width: 576px; */
}
.item-show {
  display: block;
}
.item-hide {
  display: none;
}
/* =========================== */
/* コマンドボタンエリア */
/* =========================== */
#area-button {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================== */
/* 音声配置エリア */
/* =========================== */
.box_command {
  margin-left: 30px;
  margin-right: 30px;
}
.box_command img {
  height: 100px;
  width: 100px;
  margin: 0;
}
.box_command p {
  text-align: center;
  line-height: 0px;
  font-size:16px;
}

/* =========================== */
/* モーダルウィンドウ */
/* =========================== */
#cancel, #accept {
  cursor: pointer;
  width: 200px;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  user-select: none;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#modal {
  background: #ffffff;
  width: 980px;
  height: 1620px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 50px;
  left:0;
  right: 0;
  margin: 0 auto;
  /* 変化に時間をかける */
  transition: transform 0.4s;
  z-index: 1;  /* 最前面 */
}
#modal > p {
  margin: 0 0 20px;
  user-select: none;
}

#mask.hidden {
  display: none;
}
#modal.hidden {
  transform: translate(0, -2000px);
  transition: transform .4s;
}
#cancel.hidden, #accept.hidden {
  display: none;
}