@charset "utf-8";
/* ============================== */
/* 全体の構造 */
/* ============================== */
html {
  height: 100%;             /* bodyで100%を使うから */
  width: 100%;
}
body {
  margin: 0;
  display: flex;            /* 縦幅いっぱいにするため */
  flex-direction: column;   /* 縦方向に並べる */
  height: 100%;             /* 高さを100％にする */
  user-select: none;         /* 文字列を選択させない */
}
header {
  border: .5px solid gainsboro;
  background-color: lightgray;
  /* height: 500px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
nav {
  border: .5px solid gray;
  height: 200px;
  /* background: tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main {
  border: .5px solid gray;
  /* background: aqua; */
  flex-grow: 1;
  height: 900px;
}
/* FOOTERの構成 */
footer {
  border: .5px solid gray;
  /* background: skyblue; */
  height: 100%;

  flex-direction: column;   /* 縦方向に並べる */
}
/* =========================== */
/* 注文詳細コンテナDIVの囲いをつける */
/* =========================== */
.order_container {
  border: 1px solid gray;
  background-color: gainsboro;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* デザイン詳細コンテナ */
.order_design_container {
  height: 300px;
  width: 300px;
  border-radius: 5%;
  margin: 20px;
  border: 1px solid white;
}

#order_design_image {
  height: 300px;
  width: 300px;
  border-radius: 5%;
  margin: 0;
  border: 1px solid white;
}

/* 注文詳細 */
.order_detail_container {
  height: 300px;
  border-radius: 5%;
  margin: 20px;
  border: 1px solid white;

  flex: 1;
}

/* 注文詳細 */
.design_id, .yen_mark, .price {
  font-size: 24px;
}
input[type=radio] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.size-category {
  font-size: 24px;
}
.size-caption {
  font-size: 24px;
  height: 100px;
  text-align:center;
}