@charset "utf-8";
/* ============================== */
/* 全体の構造 */
/* ============================== */
html {
  height: 100%;             /* bodyで100%を使うから */
  width: 100%;
}
body {
  margin: 0;
  display: flex;            /* 縦幅いっぱいにするため */
  flex-direction: column;   /* 縦方向に並べる */
  height: 100%;             /* 高さを100％にする */
  user-select: none;         /* 文字列を選択させない */
}
/* パラメータの要素 */
div {
  /* border: 1px solid silver; */
}
img {
  vertical-align: bottom;
  background-color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-wrap: nowrap;        /* はみ出し分を縮小で対応 */
  flex-grow: 1;
}

/* ============================== */
/* HEADERの構成 */
/* ============================== */
header {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  padding: 0.5rem;
}
header h1 {
  font-size: 2rem;
  color: #fff;
}
/* MAINに配置された選択された画像 */
#thumbnail_selected {
  height: 300px;
  border-radius: 5%;
}

/* ============================== */
/* MAINの構成 */
/* ============================== */
main {
  background: aqua;
  flex-grow: 1;
  width: 80%;
}
.item_list_padding
{
  margin:2px;
}
/* アイテムを配置を囲むDIV */
.item_list_container
{
  width: 800px;
  height: 1100px;
  overflow-y: scroll;
  background-color: silver;
  /* -webkit-overflow-scrolling: touch; */
  /* overflow-scrolling: touch; */
}
.item_list_container::-webkit-scrollbar {
  display: none;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 190px);
  gap: 10px;
}
/* 
.thumbnails li{
  cursor: pointer;
  opacity: 0.4;
} 
*/
.thumbnails li img {
  border: 3px solid white;
}
/*

.thumbnails li:hover {
  opacity: 1;
}
 
.thumbnails li:hover img {
  border: 3px solid white;
}
*/
/* 選択中の画像はhoverと同じ */
.thumbnails li.current {
  opacity: 1;
}
.thumbnails li.current img {
  border: 3px dotted gray;
}

.thumbnails img {
  width: 190px;
  border-radius: 5%;
}

/* ============================== */
/* NAVの構成 */
/* ============================== */
nav {
  background: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* ASIDEの構成 */
aside {
  background: lightgreen;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* FOOTERの構成 */
footer {
  background: skyblue;
}




