
div {
  border:1px solid gray;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* アバターリスト */
#list_of_avaters {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: 5px;
}
#list_of_avaters img {
  width: 150px;
}

/* アイテムリスト */
#list_of_items {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: 5px;
}
#list_of_items img {
  width: 150px;
}
