/* アイテム画像撮影部分のCSS */

/* *********************************************** */
/*                                                 */
/* Loading ページ                                   */
/* https://www.webcreatorbox.com/tech/loading-animation */
/* https://projects.lukehaas.me/css-loaders/       */
/* *********************************************** */
#item-create-page {
  width: 1080px;
  height: 1920px;
  transition: all 1s;
 
  /* 以下のコードを追加 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-image : url(../img/logos/background.webp);
}

/* =========================== */
/* カメラエリア */
/* =========================== */
#area-capture-item-create {
  height: 1100px;
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video-container-item-create {
  border:1px solid black;
  background-color: dimgrey;
  height: 1024px;
  width: 576px;
  /* overlay-Target枠線を浮かせるため */
  position: relative; 
}
#video-container-item-create video {
  height: 1024px;
  width: 576px;
  /* 左右反転させる */
  
  /* transform: scaleX(-1); */
}
#canvas-item-create {
  /* height: 1024px;
  width: 576px; */
}

#overlay-Target {                 /* 描画用の canvas について */
  position: absolute;     /* 座標指定を絶対値指定にして */
  left: 138px;                /* 中央に配置 */
  top: 362px;                 /* 中央に配置 */
  border:10px dashed red;
}